<h1><center>Ridge and Lasso Regression</center></h1>
<p>- Use to generalize the if Regression model is overfitted.</p>

## Business Problem - Predict the Price of Bangalore House
Using Linear Regression - Supervised Machine Learning Algorithm

In [25]:
import pandas as pd

## Loading the data.

In [2]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

## Splitting the data.

In [4]:
x=df.drop('price',axis=1)
y=df['price']
print('Shape of X =',x.shape)
print('Shape of Y =',y.shape)

Shape of X = (7120, 107)
Shape of Y = (7120,)

##  train,test and splitting the data.

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=51)

## Using Linear Regression model.

In [6]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [7]:
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Slope of Line.

In [8]:
lr.coef_

array([-6.59024772e+00, -1.62930761e+00,  1.06720828e-01, -1.75095448e+01,
        2.28582625e-02,  4.36069968e-01, -4.46757919e+00, -1.88837277e+01,
       -5.49922231e+00, -2.41364386e+01, -1.53245663e+01,  3.74668000e+00,
       -8.09235897e+00,  1.13490633e+01, -5.03976356e-01, -1.23572003e+01,
       -1.68308265e+00,  1.77330608e+01, -1.25601096e+01,  1.71287398e+01,
       -2.86131166e+01, -1.18849446e+01, -9.61713976e+00,  1.24353962e-01,
        1.19527714e+01,  1.47859679e+01, -3.98055629e+01, -1.35637890e+01,
       -5.82991815e+00,  1.63458962e+01, -6.35491384e+00, -1.03981802e+00,
        8.41322652e+00, -1.84268729e+01, -2.60577521e-01, -1.96325111e+01,
        5.72076283e+00,  1.01383131e+01,  4.20368413e+01,  5.17016815e-02,
        1.55824293e+00,  3.59890859e+00, -4.45286367e+00,  1.35163575e+01,
       -1.86840951e+01, -3.97372661e+01,  1.57105165e+00, -1.00300983e+00,
       -1.16949201e+01, -1.69999860e+01, -1.24341533e+01,  3.78277813e+00,
        1.25817509e+01, -1.17681245e+01, -1.43057294e+01,  1.96781628e+01,
        3.40845662e+01, -8.14148597e+00, -2.04037753e+01, -1.40038458e+01,
        2.11473981e+01, -2.91828572e+00,  1.00723293e+00,  5.89354186e-01,
       -2.91833639e+01,  2.52010295e+01, -1.44917116e+01, -1.47613688e+01,
       -1.20209890e+01,  1.16503205e+00, -1.14833849e+01, -2.88840784e+00,
       -2.91266435e+01, -2.06381676e+01,  9.78726136e+00,  2.39055884e+01,
       -1.93442901e+01,  6.69785018e+00, -1.00320659e+01, -3.64577216e+01,
        6.32950066e+00,  1.67880732e-02,  1.71800356e+00,  5.15165660e+01,
        3.54168831e+01, -1.31148063e+01, -6.74596909e+00,  4.00620618e+01,
        5.12329764e-01,  1.30242660e+00,  8.86143876e-01,  2.62626542e+01,
        1.53780529e+01, -2.04248467e+01,  5.51053020e+00, -1.51792908e+01,
        2.85533225e+01,  5.45665442e+00,  1.75883979e+01,  8.92300169e+00,
       -4.20836687e+00, -2.80188387e+01, -1.14821105e+01,  1.07524128e+01,
       -3.18118808e+01,  3.90229652e+00, -6.73243372e+00])

## Intercept of Line.

In [9]:
lr.intercept_

-127.23946860109592

## Accuracy of model.

In [1]:
lr.score(X_test,Y_test)

NameError: name 'lr' is not defined

## Implementing Lasso and Ridge Regression

In [11]:
from sklearn.linear_model import Ridge,Lasso

In [12]:
rd=Ridge()
rd.fit(X_train,Y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [13]:
rd.score(X_test,Y_test)

0.7902567335386024

In [14]:
ls=Lasso()
ls.fit(X_train,Y_train)
ls.score(X_test,Y_test)

0.7944621580348217

# Changing alpha value of Ridge Regression.

In [17]:
rd2=Ridge(alpha=2)
rd2.fit(X_train,Y_train)
rd2.score(X_test,Y_test)

0.7901224185854392

# Changing alpha value of Lasso Regression.

In [24]:
ls2=Lasso(alpha=5)
ls2.fit(X_train,Y_train)
ls2.score(X_test,Y_test)

0.8242839256289765